#buttonContainer {
  padding: 2rem;
  height: 61%;
  max-height: 430px;
  display: grid;
  grid-gap: 0.8rem;
  grid-template-columns: repeat(4, 1fr);
  background-color: var(--veryDarkDesaturatedBlueScreen);
  border-radius: 10px;
  margin-top: 2.3rem;
  font-weight: 700;

  .calcButton {
    background-color: var(--lightGrayishOrange);
    border-radius: 5px;
    font-family: inherit;
    font-size: 3.2rem;
    font-weight: inherit;
    color: var(--veryDarkGrayishBlue);
    cursor: pointer;
    background-image: none;
    border: none;
  }

  #reset {
    grid-column: 1 / span 2;
    font-size: 1.6rem;
    background-color: var(--desaturatedDarkBlueBackground);
    color: var(--white);
  }

  #equals {
    grid-column: 3 / span 2;
    font-size: 18px;
    background-color: var(--red);
    color: var(--white);
  }

  #del {
    font-size: 1.6rem;
    background-color: var(--desaturatedDarkBlueBackground);
    color: var(--white);
  }
}
