#display {
  height: 13%;
  width: 100%;
  background-color: var(--veryDarkDesaturatedBlueScreen);
  border-radius: 10px;
  margin-top: 3rem;
  color: var(--white);
  text-align: right;
  padding: 32px;
  overflow: scroll;
  border: none;
  font-family: inherit;
  font-size: inherit;
  padding: 10px;
  font-weight: inherit;

  &:focus {
    outline: none;
  }
}
