//colors theme 1

// Backgrounds
$mainBackgroundColor: #3c4564;
$veryDarkDesaturatedBlueMain: hsl(225, 21%, 49%);
$veryDarkDesaturatedBlueToggle: hsl(223, 31%, 20%);
$veryDarkDesaturatedBlueScreen: hsl(224, 36%, 15%);

// Text
$veryDarkGrayishBlue: hsl(221, 14%, 31%);
$white: hsl(0, 0, 100%);

// Keys
$desaturatedDarkBlueBackground: hsl(225, 21%, 49%);
$desaturatedDarkBlueShadow: hsl(224, 28%, 35%);
$red: hsl(6, 63%, 50%);
$darkRed: hsl(6, 70%, 34%);
$lightGrayishOrange: hsl(30, 25%, 89%);
$GrayishOrange: hsl(28, 16%, 65%);
